# openssl.cnf

[ ca ]
default_ca = CA_default

[ CA_default ]
dir = .
certs = $dir
crl_dir = $dir
new_certs_dir = $dir
database = $dir/index.txt
certificate = $dir/ca.crt
serial = $dir/serial.txt
crlnumber = $dir/crlnumber.txt
crl = $dir/revoked.crl
private_key = $dir/ca.key
RANDFILE = .rnd
name_opt = ca_default
cert_opt = ca_default
default_days = 3652
default_crl_days = 30
default_md = sha256
preserve = no
policy = policy_match

[ policy_match ]
countryName = match
stateOrProvinceName = match
organizationName = match
organizationalUnitName = optional
commonName = supplied
emailAddress = optional

[ policy_anything ]
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
organizationalUnitName = optional
commonName = supplied
emailAddress = optional

[ req ]
default_bits = 2048
default_keyfile = privkey.pem
distinguished_name = req_distinguished_name
attributes = req_attributes
string_mask = nombstr

[ req_distinguished_name ]
countryName = Country Name (2 letter code)
countryName_default = FR
countryName_min = 2
countryName_max = 2
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = FRANCE
localityName = Locality Name (eg, city)
localityName_default = NANTES
0.organizationName = Organization Name (eg, company)
0.organizationName_default = CBP GROUP
organizationalUnitName = Organizational Unit Name (eg, section)
commonName = Common Name (eg, YOUR name)
commonName_max = 64
emailAddress = Email Address
emailAddress_max = 64

[ req_attributes ]
challengePassword = A challenge password
challengePassword_min = 4
challengePassword_max = 20
unstructuredName = An optional company name

[ ca_ext ]
# Extensions for creating certificate authorities 
subjectKeyIdentifier = hash 
authorityKeyIdentifier = keyid:always,issuer:always 
basicConstraints = critical,CA:true,pathlen:0 
keyUsage = cRLSign,keyCertSign 
extendedKeyUsage = serverAuth,clientAuth,codeSigning,emailProtection 
subjectAltName = email:copy 
issuerAltName = issuer:copy

[ mail_ext ]
# Extensions for client email certificates
basicConstraints = CA:false
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = emailProtection

[ ssl_ext ]
# Extensions for SSL certificates
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
